* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 100%;
    font-weight: 100;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

a {
    color: #1e6bb8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


@media screen and (min-width: 64em) {
    .btn {
        padding: 0.75rem 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 42em) {
    .btn {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem;
    }

    .btn + .btn {
        margin-top: 1rem;
        margin-left: 0;
    }
}

.page-header {
    margin-top: auto;
    color: #fff;
    text-align: center;
    background-color: #2c3e50;
    background-image: linear-gradient(to bottom, #2c3e50, #233e55, #2c3e65, #2c3e8f);
}

.project-name {
    margin-top: 0;
    margin-bottom: 0.1rem;
}

.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7;
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 2rem 2rem;
    }
    .main-content, .site-footer .page-header .navbar {
        max-width: 64rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem;
    }
    .project-name {
        font-size: 3.25rem;
    }  
    .project-tagline {
        font-size: 1.25rem;
    }    
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 1rem 1rem;
    }
    .main-content, .site-footer {
        padding: 2rem 4rem;
        font-size: 1.1rem;
    }
    .project-name {
        font-size: 2.25rem;
    }
    .project-tagline {
        font-size: 1.15rem;
    }    
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 1rem 1rem;
    }
    .main-content, .site-footer {
        padding: 2rem 1rem;
        font-size: 1rem;
    }
    .project-name {
        font-size: 1.75rem;
    }  
    .project-tagline {
        font-size: 1rem;
    }    
}


.main-content {
    flex: 1 0 auto;
    width: 100%;
}

.main-content :first-child {
    margin-top: 0;
}

.main-content img {
    max-width: 100%;
}

.main-content p {
    margin-bottom: 1em;
}