{% macro create_actions(title,assemble=False,convert_schema=False,check_quality=False,extract_spreadsheet=False,generate_sidecar=False,
merge_spreadsheet=False,remodel=False,search=False,to_long=False,to_short=False,validate=False,compare_schemas=False) %}
    

  <fieldset class="form-group">
      <legend>Action:</legend>
      <select class="form-select" id="process_actions" name="process_actions">
        {% if validate %}
            <option value="validate" aria-label="Validate the indicated file." 
                    aria-checked="true">Validate</option>
        {% endif %}

        {% if check_quality %}
            <option value="check_quality" aria-label="Check quality of HED annotations."
                    aria-checked="true">Check HED quality</option>
        {% endif %}

        {% if to_long %}
           <option value="to_long" aria-label="Convert to long form." 
                    aria-checked="true">Convert to long</option>
        {% endif %}

        {% if to_short %}
             <option value="to_short" aria-label="Convert to short form." 
                    aria-checked="true">Convert to short</option>
        {% endif %}

        {% if assemble %}
            <option value="assemble" aria-label="Assemble the HED annotations for an events file." 
                    aria-checked="true">Assemble HED annotations</option>
        {% endif %}
      
        {% if search %}
            <option value="search" aria-label="Search HED annotations for tags."
                    aria-checked="true">Search HED strings</option>
        {% endif %}
      
        {% if convert_schema %}
             <option value="convert_schema" aria-label="Convert a schema to a different format." 
                    aria-checked="true">Convert HED schema</option>
        {% endif %}
      
        {% if compare_schemas %}
            <option value="compare_schemas" aria-label="Compare to find similarities and differences." 
                    aria-checked="true">Compare HED schemas</option>
        {% endif %}
      
        {% if generate_sidecar %}
           <option value="generate_sidecar" aria-label="Generate a template sidecar from an events file." 
                    aria-checked="true">Generate JSON sidecar template</option>
        {% endif %}

        {% if extract_spreadsheet %}
           <option value="extract_spreadsheet" aria-label="Extract the HED portion of a sidecar as a spreadsheet." 
                    aria-checked="true">Extract HED spreadsheet</option>
        {% endif %}

        {% if merge_spreadsheet %}
           <option value="merge_spreadsheet" aria-label="Convert spreadsheet to sidecar and merge with existing sidecar." 
                    aria-checked="true">Merge HED spreadsheet</option>
        {% endif %}

        {% if remodel %}
            <option value="remodel" aria-label="Restructure or summarize a file."
                    aria-checked="true">Execute remodel script</option>
        {% endif %}
      
     </select>
    </fieldset>
{% endmacro %}