{% extends "layout.html" %}
{% from "schema-pulldown_new.html" import create_schema_pulldown %}
{% from "sidecar-input.html" import create_sidecar_input %}
{% from "remodel-input.html" import create_remodel_input %}
{% from "file-input.html" import create_file_input %}
{% from "column-info.html" import create_column_info %}
{% from "actions_new.html" import create_actions %}
{% from "options_new.html" import create_options %}

{% block content %}
    <h2 data-toggle="collapse" data-target="#eventsinfo">Process a BIDS-style event file</h2>
    <div id="eventsinfo" class="collapse">
    </div>
    <div class="form-group">
    <form id="events_form" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {{ create_actions(assemble=True,generate_sidecar=True,validate=True,remodel=True) }}

        {{ create_options(check_for_warnings=True,expand_defs=True,include_summaries=True) }}

        <fieldset class="form-group">
            <legend>Files to upload:</legend>
        {{ create_file_input('Upload events (tsv file):', 'events_file', 'events_flash') }}
        <div class="form-group">
            <input type="hidden" id="has_column_names" name="has_column_names" value="on"/>
        </div>
        {{ create_column_info('show_columns') }}
        {{ create_column_info('show_events') }}
        <p class="flash" id="tag_columns_flash"></p>
        {{ create_file_input('Upload remodel instructions (JSON file)', 'remodel_file', 'remodel_flash') }}
        {{ create_file_input('Upload sidecar (JSON file) if needed', 'sidecar_file', 'sidecar_flash') }}
         </fieldset>
            
            {{ create_schema_pulldown() }}

        <div class="form-group">
            <button id="events_submit" type="button" class="btn btn-primary btn-large">Process</button>
            <p class="flash" id="events_submit_flash"></p>
        </div>
    </form>
    </div>
    <script type="module">
        {%  include 'js/constants.js' %}
        {%  include 'js/column-info.js' %}
        {%  include 'js/form-helpers.js' %}
        {%  include 'js/schema-pulldown.js' %}
        {%  include 'js/sidecar-input.js' %}
        {%  include 'js/remodel-input.js' %}
        {%  include 'js/options.js' %}
        {%  include 'js/events-form.js' %}
    </script>

{% endblock %}