{% extends "layout.html" %}
{% from "schemas-pulldown.html" import create_schemas_pulldown %}
{% from "file-input.html" import create_file_input %}
{% from "column-info.html" import create_column_info %}
{% from "actions.html" import create_actions %}
{% from "options.html" import create_options %}
{% from "query.html" import create_query %}

{% block content %}
    <h3 data-toggle="collapse" data-target="#eventsinfo">BIDS-style event (tsv) file:</h3>
    <div id="eventsinfo" class="collapse">
    </div>
    <div class="form-group">
    <form id="events_form" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {{ create_actions(assemble=True,generate_sidecar=True,validate=True,remodel=True,search=True) }}
        <p> </p>
        {{ create_options(check_for_warnings=True,expand_defs=True,include_context=True,include_summaries=True,replace_defs=True,remove_types_on=True) }}
         <p> </p>
        {{ create_query() }}
         <p> </p>
        {{ create_schemas_pulldown() }}
         <p> </p>
        <fieldset class="form-group">
            <legend>Upload:</legend>
            {{ create_file_input('Upload remodel instructions (JSON file)', 'remodel_file',
                                 flash_id='', div_id='remodel_input_section') }}
            {{ create_file_input('Upload sidecar (JSON file) if needed', 'sidecar_file', 
                                 flash_id='', div_id='sidecar_input_section') }}
            {{ create_file_input('Upload events (tsv file):', 'events_file', '') }}
            <input type="hidden" id="has_column_names" name="has_column_names" value="on"/>
            {{ create_column_info('show_events') }}
        </fieldset>
        <p>&nbsp;</p>
        <fieldset>
        <button id="events_submit" type="button" class="btn btn-primary btn-large">Process</button>
        <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
        <button id="events_clear" type="button" class="btn btn-secondary btn-large">&nbsp;&nbsp;&nbsp;Clear&nbsp;&nbsp;&nbsp;</button>
        </fieldset>

        <p>&nbsp;</p>
        <p class="flash" id="events_flash"></p>

    </form>
    </div>
    <script type="module">
        {%  include 'js/constants.js' %}
        {%  include 'js/column-info.js' %}
        {%  include 'js/form-helpers.js' %}
        {%  include 'js/schemas-pulldown.js' %}
        {%  include 'js/remodel-input.js' %}
        {%  include 'js/options.js' %}
        {%  include 'js/events-form.js' %}
    </script>

{% endblock %}