<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest compiled and minified CSS -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/hedlogo-01.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='css/bootstrap.min.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
        HED
    </title>
</head>
<body>
<section class="page-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">HED Online Tools:</a>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('route_blueprint.render_home_page') }}"
                data-toggle="tooltip" data-placement="bottom" title="Overview of online HED tools">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </nav>


    <a href="{{ url_for('route_blueprint.render_home_page') }}" class="btn"
    data-toggle="tooltip" data-placement="bottom" title="Overview of online HED tools">Home</a>
    <a href="{{ url_for('route_blueprint.render_events_form') }}" class="btn"
    data-toggle="tooltip" data-placement="bottom" title="Tools for BIDS-style event files">Events</a>
    <a href="{{ url_for('route_blueprint.render_sidecar_form') }}" class="btn"
    data-toggle="tooltip" data-placement="bottom" title="Tools for a BIDS-style JSON sidecar">Sidecar</a>
    <a href="{{ url_for('route_blueprint.render_spreadsheet_form') }}" class="btn"
    data-toggle="tooltip" data-placement="bottom" title="Tools for a spreadsheet containing event codes">Spreadsheet</a>
    <a href="{{ url_for('route_blueprint.render_string_form') }}" class="btn"
    data-toggle="tooltip" data-placement="bottom" title="Tools for processing a HED string">String</a>
    <a href="{{ url_for('route_blueprint.render_schema_form') }}" class="btn"
    data-toggle="tooltip" data-placement="bottom" title="Tools for processing a HED schema file">Schema</a>
</section>
<section class="main-content">
    {% block content %}
    {% endblock %}
</section>
<footer class="site-footer">
    {% block footer %}
        <p class="site-footer-owner"><a href="https://github.com/hed-standard/hed-specification/">
            Hierarchical Event Descriptor (HED) Tags and related tools</a> are maintained by
            <a href="https://github.com/hed-standard/">the HED Working Group.</a><br>
           HEDTools [version: {{ tool_ver }} date: {{ tool_date }}]<br>
            WebServices [version: {{ web_ver }} date: {{ web_date }}] </p>

    {% endblock %}
</footer>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    let csrf_token = "{{ csrf_token() }}";
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>
</body>
</html>