{% macro create_options(check_for_warnings=False,expand_defs=False,include_description_tags=False,include_summaries=False) %}
    <div id="options_section">
        <div class="form-group" id="options">
            {% if check_for_warnings %}
                <div class="form-check form-switch" id="check_for_warnings_option">
                    <input class="form-check-input" type="checkbox" name="check_for_warnings" id="check_for_warnings">
                    <label class="form-check-label" for="check_for_warnings">Check for warnings</label>
                </div>
            {% endif %}

            {% if expand_defs %}
                <div class="form-check form-switch" id="expand_defs_option">
                    <input class="form-check-input" type="checkbox" name="expand_defs" id="expand_defs">
                    <label class="form-check-label" for="expand_defs">Expand defs</label>
                </div>
            {% endif %}

            {% if include_description_tags %}
                <div class="form-check form-switch" id="include_description_tags_option">
                    <input class="form-check-input" type="checkbox" name="include_description_tags" id="include_description_tags">
                    <label class="form-check-label" for="include_description_tags">Include Description tags</label>
                </div>
            {% endif %}

            {% if include_summaries %}
                <div class="form-check form-switch" id="include_summaries_option">
                    <input class="form-check-input" type="checkbox" name="include_summaries" id="include_summaries">
                    <label class="form-check-label" for="include_summaries">Include summaries</label>
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}