{% macro create_remodel_input(title) %}
    <div id="remodel_input_section">
        <h3>{{ title }}</h3>
        <div class="form-group">
            <label class="secondary-label" for="remodel_json">Remodel file:</label>
            <label class="btn-group file-browse-group">
                <button for="remodel_file">Browse ...</button>
                <label id="remodel_file_display_name"></label>
                <input type="file" name="remodel_file" id="remodel_file"/>
            </label>
            <p class="flash" id="remodel_file_flash"></p>
        </div>
    </div>
{% endmacro %}