{% extends "layout.html" %}
{% from "actions.html" import create_actions %}
{% from "options.html" import create_options %}
{% from "schemas-input.html" import create_schemas_input %}
{% from "process-buttons.html" import create_process_buttons %}
{% block content %}
    <h3>HED Schemas:</h3>

    <form id="schema_form" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {{ create_actions(convert_schema=True, validate=True, compare_schemas=True) }}
        {{ create_options(check_for_warnings=True,save_merged=True) }}
        
        {{ create_schemas_input("Source schema:", "Schema to compare:") }}
        
        {{ create_process_buttons('schema_submit', 'schema_clear', 'schema_flash') }}
    </form>
    <script type="module">
        {%  include 'js/constants.js' %}
        {%  include 'js/form-helpers.js' %}
        {%  include 'js/options.js' %}
        {%  include 'js/schemas-form.js' %}
    </script>

{% endblock %}

{% block widget_instructions %},
widgetInstructions: 'The user is on the HED Schemas tools page for validating, converting, and comparing HED schema files.'
{% endblock %}