{% macro create_schema_pulldown() %}
    <fieldset class="form-group">
        <legend>Schema:</legend>
        <select name="schema_version" id="schema_version" class="form-select"></select>
        <div id="schema_other_version" class="form-group">
        <label for="formFile" class="form-label mt-4">Schema file to upload:</label>
        <input class="form-control" type="file" id="schema_path">
        </div>
        <p class="flash" id="schema_select_flash"></p>
    </fieldset>
{% endmacro %}