{% extends "layout.html" %}
{% from "actions.html" import create_actions %}
{% from "options.html" import create_options %}
{% block content %}
    <h3>HED Schemas:</h3>

    <form id="schema_form" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {{ create_actions(convert_schema=True, validate=True) }}
        <p></p>
        {{ create_options(check_for_warnings=True) }}
        <p></p>
        
        <fieldset class="form-group">
          <legend class="mt-4">Source schema:</legend>
          <div class="form-check" id="schema_url_group">
          <input class="form-check-input" type="radio" name="schema_upload_options"
                 id="schema_url_option" value="schema_url_option" 
                 aria-label="Select this button for HED schema URL" checked="">
          <label class="form-check-label" for="schema_url_option">Enter HED schema URL:</label>
          <input class="form-control" type="url" id="schema_url"  name="schema_url"
                 aria-label="Enter schema URL here">
        </div>
            <p></p>
          <div class="form-check" id="schema_file_group">
            <input class="form-check-input" type="radio" name="schema_upload_options" 
                   id="schema_file_option" value="schema_file_option"
                   aria-label="Select this button for HED schema file">
            <label class="form-check-label" for="schema_file_option">
              HED schema file to upload:
            </label>
              <input class="form-control" type="file" id="schema_file" name="schema_file"
                     id="schema_file" aria-label="Enter schema file to upload here">
          </div>
        </fieldset>
      
        <p>&nbsp;</p>
        <div class="form-group">
            <button id="schema_submit" type="button" class="btn btn-primary btn-large">Process</button>
                    <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
            <button id="schema_clear" type="button" class="btn btn-secondary btn-large">&nbsp;&nbsp;&nbsp;Clear&nbsp;&nbsp;&nbsp;</button>

        </div>
        <p> </p>
        <p class="flash" id="schema_flash"></p>
    </form>
    <script type="module">
        {%  include 'js/constants.js' %}
        {%  include 'js/form-helpers.js' %}
        {%  include 'js/options.js' %}
        {%  include 'js/schema-form.js' %}
    </script>

{% endblock %}