{% extends "layout.html" %}
{% from "schemas-pulldown.html" import create_schemas_pulldown %}
{% from "actions.html" import create_actions %}
{% from "options.html" import create_options %}
{% from "file-input.html" import create_file_input %}
{% from "spreadsheets-input.html" import create_spreadsheets_input %}

{% block content %}
    <h3>BIDS-style JSON sidecar:</h3>
    <form id="sidecar_form" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {{ create_actions(to_long=True,to_short=True,extract_spreadsheet=True,
                          validate=True,merge_spreadsheet=True) }}
        {{ create_options(check_for_warnings=True,expand_defs=True,include_description_tags=True) }}

        <div class="form-group p-3 my-5" style="border: 1px solid #ccc; background-color: #f8f9fa; border-radius: 0.3rem;">
            {{ create_file_input('JSON sidecar:', 'sidecar_file', inline=True) }}
            <div id="spreadsheet_input_section" class="mt-2">
             {{ create_spreadsheets_input(has_column_names_option=False, inline=True) }}
            </div>
        </div>

        {{ create_schemas_pulldown() }}
        <fieldset class="form-group">
        <button id="sidecar_submit" type="button" class="btn btn-primary btn-large">Process</button>
        <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
        <button id="sidecar_clear" type="button" class="btn btn-secondary btn-large">&nbsp;&nbsp;&nbsp;Clear&nbsp;&nbsp;&nbsp;</button>
        </fieldset>
        <p class="flash" id="sidecar_flash"></p>
    </form>
    <script type="module">
        {%  include 'js/constants.js' %}
        {%  include 'js/column-info.js' %}
        {%  include 'js/form-helpers.js' %}
        {%  include 'js/options.js' %}
        {%  include 'js/spreadsheets-input.js' %}
        {%  include 'js/schemas-pulldown.js' %}
        {%  include 'js/sidecars-form.js' %}
    </script>
{% endblock %}

{% block widget_instructions %},
widgetInstructions: 'The user is on the HED Sidecars tools page for validating, converting, extracting, and merging BIDS-style JSON sidecars.'
{% endblock %}