{% extends "layout.html" %}
{% from "schemas-pulldown.html" import create_schemas_pulldown %}
{% from "actions.html" import create_actions %}
{% from "options.html" import create_options %}
{% from "file-input.html" import create_file_input %}
{% from "process-buttons.html" import create_process_buttons %}


{% block content %}
    <h3>BIDS-style JSON sidecar:</h3>
    <form id="sidecar_form" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {{ create_actions(to_long=True,to_short=True,extract_spreadsheet=True,
                          validate=True,merge_spreadsheet=True) }}
        {{ create_options(check_for_warnings=True,include_description_tags=True) }}

        <div class="card card-body bg-light my-5">
            <div class="row g-2 mb-2">
                <label for="sidecar_file" class="col-sm-auto col-12 col-form-label form-label-col">JSON sidecar:</label>
                <div class="col-sm col-12">
                    <input class="form-control" type="file" id="sidecar_file" name="sidecar_file">
                </div>
            </div>
            <div id="spreadsheet_input_section" class="mt-2">
                <div class="row g-2 mb-2">
                    <label for="spreadsheet_file" class="col-sm-auto col-12 col-form-label form-label-col">Spreadsheet:</label>
                    <div class="col-sm col-12">
                        <input class="form-control" type="file" id="spreadsheet_file" name="spreadsheet_file">
                    </div>
                </div>
                <div id="worksheet_select" class="mt-2">
                    <label class="form-label" for="worksheet_name">Worksheet name:</label>
                    <select name="worksheet_name" id="worksheet_name" class="form-select"></select>
                </div>
                <p class="flash" id="spreadsheet_input_flash"></p>
            </div>
        </div>

        {{ create_schemas_pulldown() }}
        {{ create_process_buttons('sidecar_submit', 'sidecar_clear', 'sidecar_flash') }}
    </form>
    <script type="module">
        {%  include 'js/constants.js' %}
        {%  include 'js/column-info.js' %}
        {%  include 'js/form-helpers.js' %}
        {%  include 'js/options.js' %}
        {%  include 'js/spreadsheets-input.js' %}
        {%  include 'js/schemas-pulldown.js' %}
        {%  include 'js/sidecars-form.js' %}
    </script>
{% endblock %}

{% block widget_instructions %},
widgetInstructions: 'The user is on the HED Sidecars tools page for validating, converting, extracting, and merging BIDS-style JSON sidecars.'
{% endblock %}