{% macro create_spreadsheet_input(has_column_names_option=True) %}

     <label for="spreadsheet_file" class="form-label mt-4">Spreadsheet file:</label>
     <input class="form-control" type="file" id="spreadsheet_file" name="spreadsheet_file" >
    
     <div id="worksheet_select">
         <label class="form-label mt-4" for="worksheet_name">Worksheet name:</label>
         <select name="worksheet_name" id="worksheet_name" class="form-select" name="worksheet_name"></select>
     </div>
    
     <p class="flash" id="spreadsheet_input_flash"></p>
{% endmacro %}