{% extends "layout.html" %}
{% from "schemas-pulldown.html" import create_schemas_pulldown %}
{% from "column-info.html" import create_column_info %}
{% from "actions.html" import create_actions %}
{% from "options.html" import create_options %}
{% from "spreadsheets-input.html" import create_spreadsheets_input %}
{% from "file-input.html" import create_file_input %}

{% block content %}
    <h3>Spreadsheets with HED tags:</h3>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forms.css') }}">
    <form id="spreadsheet_form" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {{ create_actions(to_long=True,to_short=True,validate=True) }}
        {{ create_options(check_for_warnings=True,expand_defs=True) }}
        <p>&nbsp;</p>
        <fieldset class="form-group">
            <legend>Input:</legend>
            {{create_spreadsheets_input(has_column_names_option=False) }}
            {{ create_column_info('show_indices') }}
            {{ create_file_input('Optional definition sidecar (JSON file)', 'definition_file') }}
        </fieldset>
        <p>&nbsp;</p>
        {{ create_schemas_pulldown() }}
        <fieldset>
        <button id="spreadsheet_submit" type="button" class="btn btn-primary btn-large">Process</button>
        <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
        <button id="spreadsheet_clear" type="button" class="btn btn-secondary btn-large">&nbsp;&nbsp;&nbsp;Clear&nbsp;&nbsp;&nbsp;</button>
        </fieldset>
        <p class="flash" id="spreadsheet_flash"></p>
    </form>
    <script type="module">
        {%  include 'js/constants.js' %}
        {%  include 'js/column-info.js' %}
        {%  include 'js/options.js' %}
        {%  include 'js/form-helpers.js' %}
        {%  include 'js/schemas-pulldown.js' %}
        {%  include 'js/spreadsheets-input.js' %}
        {%  include 'js/spreadsheets-form.js' %}
    </script>

{% endblock %}

{% block widget_instructions %},
widgetInstructions: 'The user is on the HED Spreadsheets tools page for validating, converting, and processing spreadsheets containing HED tags.'
{% endblock %}