{% macro create_spreadsheets_input(has_column_names_option=True, inline=False) %}

   {% if inline %}
     <div style="display: flex; align-items: center; gap: 0.625rem;">
         <label for="spreadsheet_file" class="form-label" style="margin: 0; white-space: nowrap;">Spreadsheet:</label>
         <input class="form-control" type="file" id="spreadsheet_file" name="spreadsheet_file" style="flex: 1;">
     </div>
   {% else %}
     <label for="spreadsheet_file" class="form-label">Spreadsheet file:&nbsp;&nbsp;</label>
     <input class="form-control" type="file" id="spreadsheet_file" name="spreadsheet_file" >
   {% endif %}
    
     <div id="worksheet_select" class="mt-2">
         <label class="form-label" for="worksheet_name">Worksheet name:</label>
         <select name="worksheet_name" id="worksheet_name" class="form-select" name="worksheet_name"></select>
     </div>
    
     <p class="flash" id="spreadsheet_input_flash"></p>
{% endmacro %}